header {
  width: 100%;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
.actions {
  display: flex;
  align-items: center;
}
.actions > button {
  margin-left: 16px;
}
.actions > button:first-child {
  margin-left: 0;
}
.icon-button {
  width: 40px;
  height: 40px;
}
.icon-button:hover path {
  fill: #57AD56;
}

@media screen and (max-width: 620px) {
  .actions > button:last-child {
    display: none;
  }
  .actions > button {
    margin-left: 12px;
  }
  .actions > .btn {
    width: 72px;
  }
}

