header {
  width: 100%;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
.actions {
  display: flex;
  align-items: center;
}
.actions > button:first-child {
  margin-right: 16px;
}
.actions > button:nth-child(2) {
  margin-right: 27px;
}

