header {
  width: 100%;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
.actions {
  display: flex;
  align-items: center;
}
.actions > button:first-child {
  margin-right: 16px;
}
.actions > button:last-child {
  margin-left: 27px;
}

@media screen and (max-width: 500px) {
  .actions > button:last-child {
    display: none;
  }
  .actions > button:first-child {
    margin-right: 12px;
  }
  .actions > .btn {
    width: 72px;
  }
}

