@import url(./css/header.css);
@import url(./css/hero.css);
@import url(./css/nav.css);
@import url(./css/catalog.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}
body {
  color: #262626;
}

.container {
  width: 956px;
  margin: 0 auto;
}
@media screen and (max-width: 972px) {
  .container {
    width: 100%;
    padding: 0 8px;
  }
}

h1, h2, h3, h4 {
  font-weight: 400;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn {
  width: 80px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 2px;
}
.btn.primary:hover {
  background-color: #57AD56;
}
.btn.primary {
  background-color: #262626;
  color: #fff;
}
.btn.secondary {
  border: 1px solid #E0E0E0;
}
.btn.secondary:hover {
  background-color: #57AD56;
  border: none;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}